* {
  margin: 0;
  padding: 0;
}

body {
  min-height: 100vh;
  font-size: 16px;
  background: #222;
  overflow-x: hidden;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
}

.header {
  color: #fff;
  text-align: center;
  font-family: 'Unica One', sans-serif;
  line-height: 3em;
  font-size: 3em;
}

.masonry {
  padding-top: 1em;
  padding-bottom: 3em;
}

.notfound {
  font-size: 2em;
  line-height: 3em;
  color: #fff;
  text-align: center;
  font-family: 'Unica One', sans-serif;
}

.red {
  font-family: 'Open Sans', sans-serif;
  color: rgb(255, 0, 0);
  transition: color 0.3s ease-in;
}

.green {
  font-family: 'Open Sans', sans-serif;
  color: rgb(11, 188, 11);
  transition: color 0.3s ease-in;
}
